html{
    font-size: 20px;
    --white : #fff;
    --black : #060619;
    --white80 : rgba(255,255,255, .8);
    --white60 : rgba(255,255,255, .6);
    --blue : #3A3AF4;
    --bg-body : #EEEEFF
}

body{
    background-color: var(--bg-body);
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

a{
    color: inherit;
    text-decoration: none;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
/*
font-family: 'DM Sans', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/
/*header start*/
.header-bg{
    background-image: url("/header/rect.svg") , linear-gradient(180deg, #0F0F33 0%, #050517 100%);
    min-height: 577px;
    color: var(--white);
    padding: 58px 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: right bottom;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.header, .nav{
    display: flex;
}

.header{
    font-family: 'DM Sans', sans-serif;
    justify-content: space-between;
    align-items: center;
}

.nav{
    width: 48%;
    justify-content: space-between;
}

.nav .nav__item{
    flex-grow: 1;
}
.nav .nav__item-link{
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    font-size: .8rem;
    color: var(--white80);

}

.nav .nav__item-link:hover{
    color: var(--white);
    font-weight: 700;
    transition: all .2s;
}


.btn-account{
    color: var(--black);
    background-color: var(--white);
    padding: 15px 0;
    width: 154px;
    display: inline-block;
    text-align: center;
    border-radius: 100px;
    font-size: .8rem;
    font-weight: 700;
}

.support{
    width: 60%;
    margin-top: 75px;
}

.support > * {
    margin-bottom: 1.5rem;
}

.support__title{
    font-size: 1.8rem;
    font-weight: 600;
}

.support__sudtitle{
    font-size: .8rem;
    color: var(--white80);
}
.support__search{
    display: flex;
    font-size: .9rem;
    font-weight: 600;
}

.support__search [type="search"]{
    padding: .9rem 1.2rem;
    width: 80%;
    font-size: .9rem;
    font-weight: 600;
}

.support__search [type="button"]{
    width: 20%;
    padding: .9rem 1.2rem;
    background-color: var(--blue);
    border: 2px solid var(--blue);
    color: var(--white);
    font-size: .9rem;
    font-weight: 600;
}
.support__popular{
    font-size: 16px;
    font-weight: 600;
}
.support__popular-name{
    color: var(--white60);
    display: inline-block;
    padding-right: 1rem;
}

.support__popular-tag{
    text-decoration: underline;
    display: inline-block;
    padding-right: 1rem;
}

/*header end*/
/*main start*/
.mt81{
    margin-top: 81px;
}
.card ul{
list-style: disc;
}
.card{
    width: 30%;
    background-color: var(--white);
    min-height: 310px;
    padding: 1.5rem;
    box-sizing: border-box;
}

.card__title{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: .9rem;
    margin-bottom: 20px;
}

.card__title::before{
    content: url("/main/icon1.svg");
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: .8rem;
}

.card__list{
    font-weight: 600;
    font-size: .8rem;
}
.card__list li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}


.card__list li::before{
    content: url("/main/list.svg");
    display: inline-block;
    margin-right: .4rem;
}